# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://vcwgztguqqeaygcunynn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# Site URL (nastav podla prostredia)
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Pre fieldhockey app
# NEXT_PUBLIC_SITE_URL=https://fieldhockey.sk

# Pre szph app
# NEXT_PUBLIC_SITE_URL=https://szph.sk
